@model User 
@using BnLog.DAL.Models.Security
@*@inject BnLog.VAL.Response.Items.ItemInfo itemInfo*@

@*@using BnLog.VAL.Request.Security
@model BnLog.DLL.Request.MainRequest*@
@{
    ViewData["Title"] = "UserPage";
    //Layout = null; //отключение стилей мастер-страниц, и теперь можно лепить свой дизайн.
                   //Layout = "~/Views/Shared/_Layout.cshtml";//-тогда будет дизай мастер страницы.
}
<h1 class="center">User Page</h1>
<div class="block-reg background-white">
    @*<h3 class="center">Model.User.GetFullName()</h3>
        <h3 class="center">@Model.RegisterView.FirstName</h3>
        <h4 class="center">@Model.LoginView.Email</h4>*@
        <h4 class="center">@Model.UserName</h4>
    @*<h4 class="center">@itemInfo.modelName</h4>*@

</div>