@page
@model BnLog.Pages.Errors.UnknownErrorPageModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "UnknownErrorPage";
}
<h1>Unknown Error on server</h1>
<p>Что-то пошло не так</p>
