@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to BnLog</h1>
    <h3>Итоговый проект по курсу C# of SkillFactory. </h3>  
    <p></p>

    <p class="aboutInfo"> Версия c настроеными представленими данных.  </p>
    <p class="aboutInfo">Настроено логгирование via NLog. В API логгирование не доступно -(не писалось), хотя Logger в Controllers внесен </p>
    <p class="aboutInfo">Проект BnLog.API реализует свои Controllers ( вместо BnLog.BLL), является надстройкой над BnLog.VAL. </p>
    <p class="aboutInfo"> API с OpenDоc(Swagger)  доступно по... [Home]/API/...  </p>
    <h1 class ="display-4">BnLog =это и Blog и Log и etc...</h1>
    <p class="aboutInfo0" >Но многое из этого не пока сделано, и сделано не будет увы :(</p>
    <p class="aboutInfo0" >"Логика обстоятельств сильнее логики намерений."</p>
    @*<p>    Надеюсь вы знаете кто...</p>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
