@model ErrorViewModel
@{
    ViewBag.Title = "(500) An Error Occurred";
}

<h1>(500) An Error Occurred.</h1>
@*<h2>(500)Да, что-то пошло не так....</h2>*@
<p>Something go wrong.</p>
<p>Please, contact the support by emailing them this page error.</p>

@if (@Model.ShowRequestId)
    {
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    }
