@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to BnLog</h1>
    <p>Итоговый проект по курсу C# of SkillFactory. </p>    
    <p>Версия для настройки представления данных </p>
    <h1 class ="display-4">BnLog =это и Blog и Log и etc...</h1>
    <p>Но многое из этого не пока сделано, и сделано не будет увы :(</p>
    <p>"Логика обстоятельств сильнее логики намерений."</p>
    <p>    Надеюсь вы знаете кто...</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
