@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BnLog</h1>
    <p>Начальная версия  итогового проекта C# of SkillFactory. (V0.0.1 2023-11-01) </p>
    <p>- BnLog = это и Blog и Log и etc...</p> 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
