<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true" >
	<variable name="logDirectory" value="C:\Users\sergey\source\repos\BnLog\BnLog.API\logs"/>
	<targets>
		<target xsi:type="File" name="filedata" fileName="${basedir}/logs/${shortdate}.log"
						 layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="filePart" fileName="${logDirectory}/LogPart.log"
						 layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="fileErr" fileName="${logDirectory}/Error.log"
						 layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="filedata" />
		<logger name="*" minlevel="Info" writeTo="filePart" />
		<logger name="*" minlevel="Error" writeTo="fileErr" />
	</rules>
</nlog>