html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tagInfo {
    font-size: 16px;
    /*color: darkgreen;*/
    color: darkblue;
    /*color: darkred;*/
}
.aboutInfo {
    font-size: 18px;
    /*color: darkgreen;*/
    /*color: darkgrey;*/
    /*color: darkred;*/
    color: black;
    text-align: left;
}
.aboutInfo0 {
    font-size: 22px;
    color: darkblue;
    /*color: darkgrey;*/
    /*color: darkred;*/
    /*color: black;*/
    /*text-align: left;*/
}
