@page
@model BnLog.Pages.Errors.AccessDeniedPageModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "AccessDeniedPage";
}
<h1>(401) Page Forbiden.</h1>
<p>This page Forbiden for you.</p>