@page
@model BnLog.Pages.Errors.ResourceNotFoundPageModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "ResourceNotFoundPage";
}
<h1>Resource Not Found</h1>
<p>Ресурс не найден</p>
